@import "/src/style.css";

main {
  background-color: wheat;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.screen-container {
  position: relative;
}

.controls {
  background-color: rgb(51, 51, 51, 0.5);
  position: absolute;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  bottom: 8px;
  gap: 10px;

  & .fa-solid {
    color: #fff;
    cursor: pointer;
    font-size: large;
  }

  & button {
    background-color: transparent;
    position: relative;
    border: none;
    transform: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }

    &:hover .tooltip {
      visibility: visible;
    }
  }
}

.time-slider {
  flex: 1;
}

.tooltip {
  position: absolute;
  color: white;
  top: 0;
  background-color: gray;
  padding: 5px;
  right: 50%;
  transform: translate(50%, -130%);
  visibility: hidden;
}

.volume-container {
  display: flex;
  cursor: pointer;
  gap: 5px;
  align-items: center;

  & input[type="range"] {
    display: none;
    width: 50px;
    transform: scaleX(0);
    transition: transform 0.5s;
  }

  &:hover input[type="range"] {
    display: block;
    transform: scaleX(1);
  }
}

.time-stamp {
  text-wrap: nowrap;
}
